/* Hàm thường dùng */
:root {
    --white-color: #fff;
    --primary-color: #00cc99;
    --black-color: #000;
}

.btn-active {
    color: var(--primary-color);
}

/* Hàm style */

.music-player {
    position: relative;
    margin: 0 auto 14px auto;
    max-width: 480px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dashboard {
    background-color: var(--white-color);
    background-clip: padding-box;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    top: 0;
    max-width: 480px;
    z-index: 999;
    border-width: 0 4px 4px 4px;
    border-style: solid;
    border-image: linear-gradient(to bottom, red, rgba(0, 0, 0, 0)) 1 100%;
    border-radius: 0 0 10px 10px;
    animation: linearGradientBorder cubic-bezier(0.075, 0.82, 0.165, 1) 0.8s alternate infinite;
}

@media (max-width: 740px) {
    .dashboard {
        max-width: 98%;
        margin: 0 auto;
    }
}

@keyframes linearGradientBorder {
    0% {
        border-image: linear-gradient(to bottom, #0029f5, rgba(0, 0, 0, 0)) 1
            100%;
    }
    50% {
        border-image: linear-gradient(to bottom, #f500c0, rgba(0, 0, 0, 0)) 1
            100%;
    }
    100% {
        border-image: linear-gradient(
                to bottom,
                var(--primary-color),
                rgba(0, 0, 0, 0)
            )
            1 100%;
    }
}

.cd-player {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cd-thumb {
    position: relative;
    width: 100%;
    padding-top: 100%;
    border-radius: 100%;
    animation: remixEffect cubic-bezier(0.075, 0.82, 0.165, 1) 0.8s alternate
        infinite;
}

@keyframes remixEffect {
    0% {
        box-shadow: 0 0 10px 16px #0029f5;
    }
    50% {
        box-shadow: 0 0 10px 8px #f500c0;
    }
    100% {
        box-shadow: 0 0 10px 4px var(--primary-color);
    }
}

.control {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 12px;
    width: 100%;
}

.control > * {
    cursor: pointer;
    padding: 14px;
    font-size: 2rem;
}

.toggle-btn {
    background-color: var(--primary-color);
    color: var(--white-color);
    border-radius: 100%;
    width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-pause {
    display: none;
}

.active {
    color: var(--primary-color);
}

.toggle-btn.active .icon-pause {
    color: var(--white-color);
    display: block;
}

.toggle-btn.active .icon-play {
    display: none;
}

.dash-board-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.dash-board-heading h4 {
    color: var(--primary-color);
    font-size: 1.2rem;
}

.dash-board-heading h2 {
    font-size: 2rem;
}

/* Progress */
.progress-warp {
    margin-top: 8px;
    width: 100%;
    height: 12px;
    position: relative;
    border-radius: 20px;
}

.progress {
    border-radius: 20px;
    width: 100%;
    height: 100%;
    -webkit-appearance: none;
    background-color: transparent;
    border: 1px solid var(--primary-color);
}

.progress-line {
    background-color: var(--primary-color);
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 20px;
}

.progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 100rem;
    background-color: var(--primary-color);
    transition: background-color linear 0.2s;
    box-shadow: 0 0 2px 0 #555;
    cursor: pointer;
}

.progress::-webkit-slider-runnable-track {
    -webkit-appearance: none;
}

/* List Songs */

.song-item.active {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.song-item:active {
    opacity: 0.8;
}

.song-img {
    width: 46px;
    height: 46px;
    border-radius: 100rem;
}

.list-songs {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.song-item {
    background-color: var(--white-color);
    padding: 8px 12px;
    margin-top: 8px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    width: 98%;
    cursor: pointer;
}

.song-info {
    padding: 0 16px;
    flex: 1;
}

.song-name {
    font-size: 1.8rem;
}

.song-singer {
    font-size: 1.2rem;
}

.song-option {
    padding: 16px 12px;
    font-size: 2rem;
    cursor: pointer;
    position: relative;
}

.more-option {
    position: absolute;
    top: 0;
    left: 100%;
    width: 60px;
    height: 80%;
    background-color: #fff;
    box-shadow: 0 0 8px 4px #ccc;
}

/* Volume */
.volume {
    margin-top: 8px;
    width: 100%;
    display: flex;
    align-items: center;
}

.volume-icon {
    padding: 2px;
    margin-right: 8px;
}

.volume-off {
    display: none;
}

.volume-on,
.volume-off {
    font-size: 1.4rem;
    cursor: pointer;
    color: var(--black-color);
    transition: 0.2s;
}

.volume-on:active,
.volume-off:active {
    color: var(--primary-color);
}

.volume-icon.off .volume-on {
    display: none;
}

.volume-icon.off .volume-off {
    display: block;
}
